/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.larger {
    font-size: larger;
}

.small {
    font-size: small;
}

/* struttura blocchi pagina */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* bottoni */
.blu-btn {
    padding: .5em 1.5em;
    color: white;
    background-color: #0061ff;
}

/* NAV */
nav {
    width: 100%;
    line-height: 80px;
    background-color: white;
}

.logo-dropbox {
    display: inline-block;
    margin-right: 2em;
}

.logo-dropbox img {
    vertical-align: middle;
    padding-left: 1em;
}

.menu-list {
    display: inline-block;
}

.menu-list li {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 1em;
}

.button-dx {
    display: inline-block;
}

.nav-btn {
    margin: 0 1em;
}
/* /NAV */

/* HEADER */
header {
    background-color: #b4d0e7;
    height: 80vh;
}

.head-title {
    width: 100%;
    margin: auto;
}

.title-big {
    font-size: 5em;
    padding: 1em 0;
    font-weight: bold;
}

.head-text {
    width: 30%;
    margin-right: 10%;

    /* test */
    height: 350px;
}

.btn-trial {
    margin-top: 2em;
    margin-bottom: 1em;
}

.head-img {
    width: 60%;
}
/* /HEADER */

/* MAIN */

/* /MAIN */

/* 
COLORI
#b4d0e7 bg
#0061ff bottoni, link, check
#637381 periodo prezzi
#f5f5f5 bg designit
#b4d0e7 bg dropbox business 

*/
