/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.larger {
    font-size: larger;
}

.small {
    font-size: small;
}

.small2 {
    font-size: small;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.blue{
    color: #0061ff;
 }

/* struttura blocchi pagina */
.container {
    width: 60%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* bottoni */
.blu-btn {
    display: inline-block;
    padding: .5em 1.5em;
    color: white;
    background-color: #0061ff;
}

.blu-btn-trial {
    display: inline-block;
    padding: .5em 2em;
    color: white;
    background-color: #0061ff;
}

/* NAV */
nav {
    position: fixed;
    z-index: 999999;
    width: 100%;
    line-height: 80px;
    background-color: white;
}

.logo-dropbox {
    display: inline-block;
    margin-right: 2em;
}

.logo-dropbox img {
    vertical-align: middle;
    padding-left: 1em;
}

.menu-list {
    display: inline-block;
}

.menu-list li {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 1em;
}

.button-dx {
    display: inline-block;
}

.nav-btn {
    margin: 0 1em;

    /* test */
    display: inline; 
}
/* /NAV */

/* HEADER */
.head-container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #b4d0e7;
    height: 90vh;
    padding-top: 80px;
}

.head-title {
    width: 100%;
    margin: auto;
}

.title-big {
    font-size: 5em;
    padding: 1em;
}

.head-text {
    width: 30%;
    padding-left: 5em;
    margin-right: 10%;
}

.btn-trial {
    margin-top: 2em;
    margin-bottom: 1em;
}

#arrow {
    margin-top: 1em;
    font-size: 3em;
}

.head-img {
    width: 60%;
}
/* /HEADER */

/* MAIN */
/* titolo */
#sez1 {
    margin-top: 15em;
}

.title-h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

/* radio */
.fatt {
    margin-bottom: 1em;
}

#annuale {
    margin-left: 1em;
}

/* plan list */
/* plan common */
.plan-container {
    margin: auto;
    padding: 2em;
}

.plan-category {
    border: 1px solid grey;
    text-align: center;
    padding: 1em;

    /* test */
    background-color: white;
}

.plan-period {
    font-size: small;
    color: grey;
    font-weight: bold;
}

.plan-name {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.A {
    margin-bottom: 3em;
}

.B p {
    margin: 1em 0;
}

#p2 {
    margin-left: 1.2em;
}

.blu-btn-trial {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-top: 2em;
    padding: .7em 1.5em;
}

.buy-now {
    margin-top: 2em;
}

.border-bottom {
    padding-bottom: 2em;
    border-bottom: 1px solid grey;
}

.buy {
    text-decoration: underline;
    color: #0061ff;
}

.advantage {
    width: 100%;
    margin-top: 5em;
}

.advantage h4 {
    margin-bottom: 1.5em;
}

.adv-check {
    width: 5%;
    font-weight: bold;
    line-height: 1em;
}

.adv-text {
    width: calc(95% - 0.2em);
    margin-bottom: 1.5em;
    margin-left: 0.2em;
}
/* /plan common */

.db-plan {
    width: 100%;
    margin: 3em auto;
}

.plan-sx {
    width: 30%;
    border: 1px solid grey;
}

.plan-mid {
    width: 30%;
    border: 1px solid grey;
    margin: 0 5%;
}

.plan-dx {
    width: 30%;
    border: 1px solid grey;
}
/* /plan list */

.col-bottom {
    width: 100%;

    /* test */
    height: 200px;
    background-color: orange;
    margin-bottom: 3em;
}

/* /MAIN */

/* 
COLORI
#b4d0e7 bg
#0061ff bottoni, link, check
#637381 periodo prezzi
#f5f5f5 bg designit
#b4d0e7 bg dropbox business 
*/
